.button {
  min-width: 48px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e2e3e5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  border: 2px solid #5d5fef;
}
